/* Base Template */
html {
  scroll-behavior: smooth;
}

body {
  background-color: $main;
  font-style: normal;
  line-height: 1.2;
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
  color: $text;
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    transition: all 0.3s;
  }
}

img {
  max-width: 100%;
}

hr {
  width: 100%;
}
