$extra: 1680px;
$large: 1440px;
$desktop: 1200px;
$laptops: 1024px;
$tablet: 768px;
$mobile: 480px;
$small: 375px;

@mixin breakpoint($point) {
  @media only screen and (max-width: $point) {
    @content;
  }
}
