/* Colors */
$main: #ffffff;
$text: #313131;
$white: #fefefe;
$red: #f94449;
$grey: #d0d1d3;

/* Shadows */
$dark-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

/* Gradients */
$main-gradient: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
