/* Colors classes */
.cl-white {
  background-color: $white;
}

.c-text-white {
  color: $white;
}

.cl-red-text {
  color: $red;
}

.cl-grey {
  background-color: $grey;
}

.cl-gradient {
  background-image: $main-gradient;
}

/* Spacing */
.h20 {
  height: 20px;
}

.cfs-1 {
  font-size: 0.7rem;
}

/* Elements */
.custom-dropdown a {
  color: $text;
}
