$fullwidth: 100%;
$formwidth: 450px;

$r-semihalf: 0.5rem;

/* Auth Form */
.form-check-input {
  margin-top: 0.1em;
  cursor: pointer;
}

.c-form-title {
  color: $text !important;
}

.c-form-wrapper {
  width: $formwidth;
  max-width: $fullwidth;
}

.c-btn {
  display: block !important;
  padding: 0.85rem 0.5rem !important;
  border-radius: $r-semihalf;
  color: $white;
  background-image: $main-gradient-right;
}

.c-helper-text {
  color: $red;
  font-size: 0.8rem;
  padding-top: 0.4rem;
}

._error {
  border-color: $red;
}
