$dropdown-width: 200px;
$sidebar-width: 260px;
$sidebar-width-sm: 205px;

$fs-13: 0.85rem;

// #text
.c-dropdown-email {
  font-size: $fs-13;
}

.c-dropdown-status {
  color: $grey;
  font-size: $fs-13;
  margin: 0;
}

.c-dropdown-link {
  font-size: $fs-13;
  font-weight: 500;
}

.c-header-title {
  color: $text;
  text-transform: uppercase;

  &:hover {
    color: $text;
  }
}

// #menu
.c-dropdown-menu {
  width: $dropdown-width;
  border-radius: 0;
  border: none;
}

// #button
.dropdown-toggle {
  color: $text;

  &:hover {
    color: $text;
  }
}

.c-hamburger-btn {
  display: none;

  @include breakpoint($laptops) {
    display: block;
  }
}

// js
.js-header {
  transition: all 0.3s;

  @include breakpoint($laptops) {
    position: absolute;
    width: 100% !important;
  }
}

.js-header.active {
  margin-left: $sidebar-width;

  @include breakpoint($small) {
    margin-left: $sidebar-width-sm;
  }
}
